.personal-presentation__title {
    height: 54px;
width: 156px;
left: 235px;
top: 160px;
border-radius: nullpx;

}
.personal-presentation__title4 {
    height: 33px;
width: 682px;
left: 235px;
top: 269px;
border-radius: nullpx;

}
.personal-presentation__title5 {
    height: 25px;
width: 374px;
left: 235px;
top: 318px;
border-radius: nullpx;

}
.personal-presentation__text {
    height: 43px;
width: 682px;
left: 235px;
top: 358px;
border-radius: nullpx;

}
.main-nav__link{
    height: 27px;
width: 106px;
left: 800px;
top: 27px;
border-radius: nullpx;

}